<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
    <form action="" method="Post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <input type="text" name="name" class="form-control mt-1" placeholder="Article Name">
                <input type="text" name="author"  class="form-control mt-1" placeholder="Author">
                <input type="text" name="description" class="form-control mt-1" placeholder="Description">
                <div class="col text-center"><button type="submit" class="mt-5 btn btn-primary">Add Book</button> </div>
                
            </div>
            <div class="col-md-4 "></div>

        </div>
    </form>
{% if articles %}
{% for article in articles %}
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
                    <tr>
                        <th> Book Name </th>
                        <th> Author </th>
                        <th> Description </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{article.Name}}</td>
                        <td>{{article.Author}}</td>
                        <td> {{article.Description}} </td>
                        <td><a class="btn brn-primary" href="{% url 'view_book' article.article_slug %}">view</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
{% endfor %}
{% endif %}
     
   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="" async defer></script>
    </body>
</html>